
body {
  margin: 0;
  font: normal 18px Helvetica, Arial, sans-serif;
  color: #333333;
}
h1 {
  margin-top: 0;
  font-size: 24px;
}
h2 {
  margin-top: 0;
  font-size: 20px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#column {
  margin: 0 120px 0 160px;
}

header {
  float: left;
  width: 160px;
  height: 100vh;
  padding: 15px;
  margin-left: -160px;
  font-size: 14px;
  background: #2c3e50;
  box-sizing: border-box;
}
header a {
  text-decoration: none;
  color: #ecf0f1;
}

header li {
  padding-bottom: 15px;
}
header ul li a:before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 26px;
  margin: 0 6px 0 0;
  vertical-align: middle;
}

.home-link:before {
  background: transparent url("icons_nav.png") 0 0 no-repeat;
}

.photos-link:before {
  height: 20px;
  background: transparent url("icons_nav.png") 0 -26px no-repeat;
}

.contact-link:before {
  height: 16px;
  background: transparent url("icons_nav.png") 0 -46px no-repeat;
}

main {
  float: left;
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
}

footer {
  float: right;
  width: 120px;
  height: 100vh;
  padding: 15px;
  margin-right: -120px;
  font-size: 12px;
  background: #e74c3c;
  box-sizing: border-box;
}
footer li {
  padding-bottom: 10px;
}
footer a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #2980b9;
  background: #ffffff;
}
